# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-electron
*.rpm
release
*.deb
.vite
.tmp

# Env / secrets
.env
.env.*
*.conf
!packaging/**

# Editor
.DS_Store
.idea
.vscode
*.swp
*.tsbuildinfo
